body {
    background-color: #efebe0;

}

.section {
    padding: 50px 0;
    background-color: #efebe0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.menu-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.menu-item:hover {
    transform: translateY(-5px);
}

.menu-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.menu-item-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.menu-item-details p {
    margin-bottom: 5px;
}


