h2 {
  font-family:sans-serif;
}


body {
  background-color: #EFEBE0;
}

.login_square {
  width:700px;
  height:550px;
  border:none;
  border-radius: 20px;
 margin:0 auto;
 background:#f7f7f7;
 position:absolute;
 left:50%;
 top:50%;
 margin-left:-360px;
 margin-top:-250px;
 transition: 0.5s ease-in-out;
 font-family:sans-serif;
}

.login_square:hover {
  background: #EBE0D0;
}

h3 {
  text-align: left;
  padding:30px;
  font-size:20px;
  margin-top:0px;
  margin-bottom:0px;
}

.google {
  margin-right:10px;
  border:none;
  border-radius:21px;
  padding:5px;
  transition: 0.3s ease-in;
}

.google:hover {
  background:#EFEBE0;
}
.github {
  border:border;
  border-radius:21px;
  padding:5px;
  transition: 0.3s ease-in;
}

.github:hover {
  background:#EFEBE0;
}

.icons {
  display: flex; flex-direction: row; align-items: center; justify-content: center;
  display:inline-block
}

.container {
  padding: 10px;
  font-size: 20px;
  
}

.heading, h2 {
  display: inline-block;  
}

.heading {
  margin-left: 50px;
}
 .login {
  padding:20px;
  margin-left: 100px;
  display:inline-block;
  background:#EFEBE0;
  width:140px;
  text-align:center;
  border:none;
  border-radius:65px;
  height:8px;
  font-size:20px;
 }

 .register {
  padding:20px;
  margin-left: 129px;
  display:inline-block;
  background:#EFEBE0;
  margin-right:100px;
  width:140px;
  text-align:center;
  border:none;
  border-radius:65px;
  height:8px;
  font-size:20px;
 }

 .login-register {
  align-items: center;
  display:flex;
 }

 a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
  vertical-align: text-top;
}
.username, .email, .password, .p, .u, .e {
  display: flex; flex-direction: row; align-items: center; justify-content: center;
}

.username, .email, .password {
  padding-bottom:20px;
}

.u {
  padding-top:20px;
}

.u, .p, .e {
  font-size:20px;
}

input[type="text"] {
  border: 0.5px solid black;
  background-color: #fff;
  padding-left: 25px;
  font-size: 14px;
  width:300px;
  height: 35px;
  border-radius:150px;
}
input[type="email"] {
  border: 0.5px solid black;
  background-color: #fff;
  padding-left: 25px;
  font-size: 14px;
  width:300px;
  height:35px;
  border-radius:150px;
}
input[type="password"] {
  border: 0.5px solid black;
  background-color: #fff;
  padding-left: 25px;
  font-size: 14px;
  width:300px;
  height:35px;
  border-radius:150px;
}

hr {
  width:500px;
  height:1px;
  background-color:gainsboro;
}

.connect {
  display: flex; flex-direction:column; align-items: center; justify-content: center;
}

.nav {
  display:inline-block;
  margin-left: auto; 
 margin-right: 0;
 margin-left:970px;
}

.nav-link.active, .nav-link, .nav-link.disabled {
  padding-left:20px;
  font-size:17px;
  font-family: sans-serif;
}

